<!DOCTYPE html>
<html data-theme="light" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Navbar</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white text-lg font-semibold">Fitness Tracker</a>
      <div>
        <a href="/meals" class="text-gray-300 hover:text-white ml-4">Meals</a>
        <a href="/exercises" class="text-gray-300 hover:text-white ml-4">Exercises</a>
        <a href="/users" class="text-gray-300 hover:text-white ml-4">Users</a>

        <a href="/register" class="btn btn-info text-gray-300 hover:text-white ml-4">Register</a>
        <a href="/login" class="btn btn-success text-gray-300 hover:text-white ml-4">Login</a>
      </div>
    </div>
  </nav>
</body>

</html>