<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Create New Meal</title>
  </head>
  <body>
    <h1>Create New Meal</h1>
    <form
      action="#"
      th:action="@{/meals/save}"
      th:object="${meal}"
      method="post"
    >
      <label>Name:</label>
      <input type="text" th:field="*{name}" /><br />
      <label>Calorie Value:</label>
      <input type="number" th:field="*{calorieValue}" /><br />
      <label>Portion Size (grams):</label>
      <input type="number" th:field="*{portionSize}" /><br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
